[Desktop Entry]
Version=1.0
Type=Application
Name=Multimeter RS232
Comment=
Exec=python3 /home/USER_NAME/Multimeter/Multimeter-RS232.py
Icon=/home/USER_NAME/Multimeter/P409x.ico
Path=/home/USER_NAME/Multimeter
Terminal=false
StartupNotify=true
